<div>
    <h1>Register</h1>
    <form name="registerForm">
        <label>Username
            <input type="text"
                   placeholder="Username"
                   name="username"
                   data-ng-model="newUser.username"
                   ng-maxlength=20
                   ensure-unique
                   required="required"/>
        </label>
        <label>Email
            <input type="email"
                   placeholder="Email"
                   name="email"
                   data-ng-model="newUser.email"
                   ensure-unique
                   required="required"/>
        </label>
        <label>Password
            <input type="password"
                   placeholder="Password"
                   name="password"
                   data-ng-model="newUser.password"
                   ng-minlength="6"
                   required="required"/>
        </label>
        <button type="submit" data-ng-click="register()">Register</button>

        <div class="error" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
            <small class="error" ng-show="registerForm.username.$error.required">Please enter a username</small>
            <small class="error" ng-show="registerForm.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
            <small class="error" ng-show="registerForm.username.$error.unique">That username is taken, please try another</small>
        </div>

        <div class="error"
             ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
            <small class="error"  ng-show="registerForm.email.$error.required">Your email is required.</small>
            <small class="error" ng-show="registerForm.email.$error.email"> That is not a valid email. Please input a valid email.</small>
            <small class="error" ng-show="registerForm.email.$error.unique">That email is associated with another account</small>
        </div>

        <div class="error" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
            <small class="error" ng-show="registerForm.password.$error.required">Password is required.</small>
            <small class="error" ng-show="registerForm.password.$error.minlength"> password must be longer than 6 characters </small>
        </div>

    </form>




        <span ng-repeat="message in messages">
        {{message}}
    </span>


    <div ng-show="registerComplete">

        Register Complete!
        click <a href="/">here</a> to login

    </div>

</div>